<div class="hero-unit">
	<h1>Welcome to The Ville!</h1>
	<p>
		There is no FightClub!
		<%= link_to "One Month Rails", "http://google.com" %>
	</p>
	<p>
		<%= link_to "Sign Up Now!", "http://www.cnn.com", class: "btn btn-danger btn-large" %>
	</p>
</div>